<div class="main-nav">
  <ul class="nav-ul">
    <li><i class="fa fa-home" aria-hidden="true" ng-click="mainNavCtrl.homeFontAwesome()"></i></li>
    <li class="about" ng-click"mainNavCtrl.aboutFontAwesome()">about</li>
    <li><i class="fa fa-github" aria-hidden="true" ng-click="mainNavCtrl.gitHubFontAwesome()"><a href="www.github/sjb3"></a></i></li>
    <li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
    <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
    <li><i class="fa fa-phone" aria-hidden="true"></i></li>
  </ul>
</div>
