<!-- <div class="container"> -->
  <div class="container-slider">
    <img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
  </div>
<!-- </div> -->
    <h1>HELLO</h1>
<nav class="nav">
  <div class="wrapper">
    <ul class="dots">
      <li class="dot" ng-repeat="slide in slides">
        <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
      </ul></div>
    </nav>
  </div>
